body {
    background-color: orange;
}

.contents {
    background-color: beige;
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 50%;
    padding: 10px;
    border-radius: 10px;
    align-items: center
}

.center {
    text-align: center;
}

p, li, label, button, select, input {
    font-size: 150%;
}

.normal {
    font-size: 100%;
}

.center-table {
    margin: 0px auto;
    border: 1px solid black
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    font-size: 150%;
    padding: 5px 5px;
}

.list-elem {
    list-style-type: none;
    width: 100%;
}
/*
select {
    max-width: 50%;
}*/
